@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Chuyên đào tạo ra các học viên "xuất sắc", nơi các bạn tìm kiếm nếu muốn trở thành một lập trình viên giỏi</p>
</main>