@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Github:<br />
               <a href="https://github.com/khoinguyen2010hihihi" target="_blank">https://github.com/khoinguyen2010hihihi</a><br />
        <abbr title="Phone">Phone number:</abbr>
        0762601342
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:khoibene@gmail.com">khoibene@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:khoibene@gmail.com">khoibene@gmail.com</a>
    </address>
</main>